/* .container {
    width: 320px;
    margin-left: 100px;
    margin-top: 50px;
}
.container h3{
    border-left:4px solid #ff6115;
    padding-left: 10px;
}
.container img{
    margin-top: 10px;
}
.container p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
} */

/* position: relative,fixed, absolute*/
/* top,right,bottom,left */
/* .container{
    width: 100px;
}
.container .box{
    width: 100px;
    height: 100px;
}
.container .red{
    background-color: red;
    /* position: relative;
    top: 20px;
    left: 30px; 
/* }
.container .green{
    background-color: green;
}
.container .blue{
    background-color: blue;
}
.fixed{
    position: fixed;
    top: 20px;
    right: 20px;
} */ 
/* .container{
    width: 300px;
    height: 300px;
    background-color:blueviolet;
    /* position: relative; 
   
}
.container .inner {
    width: 300px;
    height: 300px;
    background-color:violet;
    /* position: relative; 
    position: absolute;
    top: 30px;
    left: 30px;
}
.container .child{
    width: 300px;
    height: 300px;
    background-color:palevioletred;
    position: absolute;
    top: 60px;
    left: 60px;
    z-index: 3;
    /* top: 50%;
    left: 50%; */
    /* margin-top: -50px;
    margin-left: -50px; */
    /* transform: translate(-50%,-50%); 
}
.container .child2{
    height: 300px;
    width: 300px;
    background-color: red;
    position: absolute;
    z-index: 1;
    left: 90px;
    top: 90px;

} */

.fb{
    width: 940px;
    position: relative;
}
.fb .cover{
    width: 100%;
    border-radius: 10px;  
    z-index: 1;       
    height: 400px;                                                                     
}
.fb a{
position: absolute;
bottom: 40px;
right: 40px;
text-decoration: none;
columns: black;
background-color: whitesmoke;
z-index: 2;

}
.fb .cam{
    width: 40px;
    height: 40px;
}
.fb .avatar{
    position: absolute;
    height: 168px;
    width: 168px;
    top:300px;
    
    left: 50%;
    border-radius: 50px;
    z-index: 2;
    border: grey solid 5px;
    
}
.fb p{
    font-weight:600;
    font-size: 40px;
    /* display: flex; */
    color: inherit;
    
   right: 28%;
   top: 450px;
    
    /* left: 50%; */
    position: absolute;
}

/* .container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: flex-end ;
    height: 100vh;
}
.container .box{
    width: 100px;
    height: 100px;

}
.container .red{
    background-color: red;
}
.container .green{
    background-color:green;
}
.container .blue{
    background-color: blue;
} */